.container{
    display:flex;
    height: 500px;
    
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
#red{
    background-color: red;
}
#blue{
    background-color: aqua;
}
#yellow{background: yellow;}