h1{
    background-color: orange;
}
.header2{
    font-family: "festive", cursive;
    background-color: pink ;
}
body{
    background-color: lightskyblue;
}
.li{
    font-size: 18px;
    color: orange;
}